{% extends 'base.html.twig' %}

{% block body %}
    
                <h2> {{ appname }} / Welcome ! </h2>
        <div id="container-fluid">
                {# <h1>  </h1> #}
                <a href="documentation">Documentation</a>
        </div>
    
{% endblock %}
