{% extends 'base.html.twig' %}

{% block body %}

<h1>Authentification User Documentation</h1>


<h3 style='text-decoration:underline'>
	1 - Envoi d'une requête d'authentification d'un utilisateur
</h3>

<h4>
	Pour s' authentifier il faut envoyer une requête contenant son mail et son password 
	<em>(* encodé ! Voir: <a href="../doc/register#chap2">Password</a>)</em>
</h4>

Elle doit être envoyée vers l'api sous la forme:

<pre>http://localhost/core_api/public/users/new/{email}/{password}</pre>

comme ceci: 
<br>

 http://localhost/core_api/public/users/auth/monmail@mail.mail/eyJwYXNzd29yZCI6InJlZDFwYXNzIiwiYXBwIjoicHJmY3kifQ==


<h3 style='text-decoration:underline' id="chap2">
2 - Réception de la requête d'authentification
</h3>

<h4>
	La requête va être récupérée dans le UserController:authUsersAction().
</h4>

<p>
	<ul>
		<li>La méthode <strong>UserController:authUsersAction()</strong> va implémenter la classe <strong>PRFCYcheckPass64</strong> pour décoder le password.</li>
		<li>Ensuite la classe <strong>PRFCYAuthenticate</strong> va être implémentée aussi dans cette fonction pour authentifier le "user".</li>
		<ul>
			<li>
				<strong>PRFCYAuthenticate</strong> va vérifier :
				<ul>
					<li>
						si le mail existe dans la table User.
					</li>
					<li>
						si le password existe dans la table User.
					</li>
					<li>
						et enfin va vérifier si un client_id existe dans la table Client.
					</li>
				</ul>
			</li>
			<li>
				Ensuite <strong>PRFCYAuthenticate</strong> va implémenter la classe <strong>PRFCYGetTokenService</strong>.
				<ul>
					<li>
						<strong>PRFCYGetTokenService</strong>  va effectuer une requête vers /oauth/v2/token qui nous retournera notre JWT Barear token.
					</li>
				</ul>
			</li>
		</ul>
	</ul>
</p>
	
	<div style="text-align:center">
	<img src="../../img/auth_user.png" alt="register user">
	</div>

<br><br>
*<strong> Il faudra donc par la suite utiliser le JWT pour effectuer toutes nos requêtes.</strong>
<br>

{% include("/core/doc/doc_menu.html.twig")%}

{% endblock %}
