<ul>
	<li class="inline"><a href="/core_api/public/dev/doc/register">Register</a></li>
	<li class="inline"><a href="/core_api/public/dev/doc/auth">Auth</a></li>
	<li class="inline"><a href="/core_api/public/dev/doc/services">Class</a></li>
</ul>