{% extends 'base.html.twig' %}

{% block body %}

<h1>Services Documentation</h1>


<h3 style='text-decoration:underline'>
	1 - Les différentes class native de Proffecy utilisées dans l'api
</h3>
<ul>
	<li><a href="#class1">PRFCYAuthCheck</a></li>
	<li><a href="#class2">PRFCYAuthenticate</a></li>
	<li><a href="#class3">PRFCYcheckPass64</a></li>
	<li><a href="#class4">PRFCYcheckRoles</a></li>
	<li><a href="#class5">PRFCYCreateClientId</a></li>
	<li><a href="#class6">PRFCYGetTokenService</a></li>
	<li><a href="#class7">PRFCYRegisterUser</a></li>
	<li><a href="#class8">PRFCYUserCheck</a></li>
</ul>

<br>

<hr>
<br>

<ul>
	<li><h4 id="class1">PRFCYAuthCheck</h4>
		<strong>Méthodes :</strong>
		<ul>
			<li><a href="#"><em>checkAuthAndGetErrorResponse($request)</em></a></li>
		</ul>
		<br>
		<ul>
			<li>
				Permet de vérifier le token dans les requêtes reçus. 
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class2">PRFCYAuthenticate</h4>
			<strong>Méthodes :</strong>
			<ul>
				<li><a href="#"><em>authenticate($email, $password)</em></a></li>
			</ul>
			<br>
			<ul>
				<li>
					Vérifie le mail existe dans la table User.<br>
				</li>
				<li>
					Vérifie si le password existe dans la table User.<br>
				</li>
				<li>
					Et enfin va vérifier si un client_id existe dans la table Client.<br><br>
				</li>
				<li>
					Ensuite PRFCYAuthenticate va implémenter la classe PRFCYGetTokenService qui retournera notre token.
				</li>
			</ul> 
			
	</li>
<hr>
	<li><h4 id="class3">PRFCYcheckPass64</h4>
		<ul>
			<li>
				Décode le password.<br>
			</li>
			<li>
				Vérifie le password.<br>
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class4">PRFCYcheckRoles</h4>
		<ul>
			<li>
				Vérifie le rôle de l'utilisateur.<br>
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class5">PRFCYCreateClientId</h4>
		<ul>
			<li>
				Créer un client_id pour l'utilisateur et l'enregistre dans la table Client.<br>
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class6">PRFCYGetTokenService</h4>
		<ul>
			<li>
				Retourne notre token.<br>
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class7">PRFCYRegisterUser</h4>
		<ul>
			<li>
				Enregistre l'utilisateur.<br>
			</li>
		</ul>
	</li>
<hr>
	<li><h4 id="class8">PRFCYUserCheck</h4>
		<ul>
			<li>
				Vérifie si l'utilisateur est authentifié et retourne son id.<br>
			</li>
		</ul>
	</li>
<hr>
</ul>

<br>
<br>

{% include("/core/doc/doc_menu.html.twig")%}

{% endblock %}
